@font-face {
    font-family: Mulish;
    src: url("../fonts/Mulish-VariableFont_wght.ttf");
}

:root {
    /*Backgrounds*/
    --bg: #15191d;
    --fg: #1f2328;
    --fg2: #262c31;

    /*Text*/
    --default-text: #ccc;
    --dark-text: #777;
    --very-dark-text: #505050;
    --highlighted-text: #fff;

    /*Buttons*/
    --inactive-button: #444;
    --button-color: #fff;
    --button-highlight: #fff;

    /*Accent Colors*/
    --accent-blue: #4682b4;
    --accent-green: #267214;
    --accent-red: #7a1512;
    --bg-accent-blue: #284156;
    --bg-accent-green: #1c4115;
    --bg-accent-red: #4a1514;

    /*Tooltips*/
    --tooltip-background: #0005;
    --tooltip-color: #aaa;

    /*Other content*/
    --devider: #444;

    --drop-shadow-small: 1px 2px 4px 1px #0004;
    --drop-shadow-large: 1px 2px 12px 2px #0007;
}

.tooltip {
    display: block;
    position: absolute;
    width: max-content;
    left: 50%;
    bottom: -28px;
    transform: translateX(-50%);
    background: var(--tooltip-background);
    color: var(--tooltip-color) !important;
    border-radius: 4px;
    font-size: 16px;
    padding: 4px 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Pop ups*/

#popups {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

#popups > div {
    background: var(--fg2);
    padding: 8px 12px;
    box-shadow: var(--drop-shadow-small);
    border-top: 4px solid var(--devider);
    margin: 12px;
    position: relative;
    animation: popupIn 0.2s linear forwards;
}

@keyframes popupIn {
    0% {
        transform: translateY(25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#popups > div.red {
    border-top: 4px solid var(--bg-accent-red);
}

#popups > div.blue {
    border-top: 4px solid var(--bg-accent-blue);
}

#popups > div.green {
    border-top: 4px solid var(--bg-accent-green);
}

#popups h1 {
    font-size: 16px;
    margin: 0;
    font-weight: normal;
}

#popups p {
    margin: 0;
    font-size: 12px;
    margin-top: 4px;
}

/*End of Pop ups*/

:hover > .tooltip {
    opacity: 1;
}

html {
    background: var(--bg);
}

body {
    margin: 0;
}

* {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
th {
    color: var(--highlighted-text);
}

p,
ul,
ol,
label,
span,
a,
td {
    color: var(--default-text);
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
}

.header {
    width: 100vw;
    background: var(--fg);
}

.header h1 {
    font-size: 24px;
    padding-left: 40px;
    margin: 20px auto 16px auto;
    width: fit-content;
    display: block;
    background-image: url("../../../logo/white.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30px;
}

.tabs {
    display: flex;
    justify-content: center;
    background: var(--fg);
    padding-bottom: 12px;
    border-bottom: 1px solid var(--devider);
}

.tabs span {
    display: block;
    padding: 0 16px;
    position: relative;
    cursor: pointer;
}

.tabs span:after {
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent-blue);
    opacity: 0;
    transition: opacity 0.2s;
}

.tabs span.active:after {
    opacity: 1;
}

.content {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#contentMover {
    display: flex;
    width: 300vw;
    height: 100%;
    transition: margin-left 0.2s;
}

.contentPage {
    height: 100%;
    width: 100vw;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contentPage::-webkit-scrollbar {
    display: none;
}

#connections .connectionsHeader {
    margin: 16px 24px 8px 24px;
}

#connections .connectionsHeader label {
    color: var(--default-text);
    font-size: 12px;
}

#connections #pairedConnections:empty:before,
#connections #availableConnections:empty:before {
    content: 'No Connections';
    display: block;
    color: var(--dark-text);
    font-size: 12px;
    width: fit-content;
    margin: 0 auto;
    padding: 0 0 8px 0;
}

#connections #pairedConnections:empty:before{
    content: 'No Paired Connections';
}

#connections #availableConnections:empty:before {
    content: 'No Instances Discovered';
}

#connections .connection {
    display: grid;
    height: 12vw;
    width: 90vw;
    grid-template-areas:
        "icon title"
        "icon host";
    grid-template-rows: auto auto;
    grid-template-columns: 12vw 1fr;
    grid-column-gap: 6px;
    margin: 0 auto 16px auto;
}

#connections .connection .icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
}

#connections .connection .icon svg {
    stroke: var(--default-text);
    align-self: center;
}

#connections .connection .name {
    grid-area: title;
}

#connections .connection .name label {
    color: var(--default-text);
    font-size: 16px;
}

#connections .connection .host {
    grid-area: host;
}

#connections .connection .host label {
    color: var(--dark-text);
    font-size: 12px;
}

#received .message {
    background: var(--fg);
    width: 80vw;
    margin: 20px auto 0 auto;
    border-radius: 12px;
    padding: 8px 12px;
    border: 1px solid var(--devider);
}

#received .compact .message {
    display: grid;
    height: 18vw;
    grid-template-areas:
        "preview title"
        "preview time"
        "preview buttons";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 24vw 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 2px;
}

#received .message .name label {
    color: var(--default-text);
    font-size: 16px;
    cursor: pointer;
}

#received .message .time label {
    color: var(--dark-text);
    font-size: 12px;
}

#received .message .buttons {
    grid-area: buttons;
    margin-top: 4px;
}

.message .buttons .button {
    position: relative;
    display: inline-flex;
    background: var(--inactive-button);
    padding: 4px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.message .buttons.large .button {
    padding: 8px;
}

.message .buttons .button:not(:nth-last-child(1)) {
    margin-right: 8px;
}

.message .buttons.large .button:not(:nth-last-child(1)) {
    margin-right: 24px;
}

.message .buttons .button:hover,
.message .buttons .button:active {
    background: var(--accent-blue);
    border-color: var(--button-color);
}

.message .buttons .button svg {
    stroke: var(--button-color);
    transition: stroke 0.2s;
}

.message .buttons .button:hover svg,
.message .buttons .button:active svg {
    stroke: var(--button-highlight);
}

#received .message .preview {
    grid-area: preview;
    border-radius: 4px;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#received .message .title {
    grid-area: title;
}

#received .message .time {
    grid-area: time;
}

#received .message .buttons {
    grid-area: buttons;
}

#fullscreenWindows > div {
    position: fixed;
    top: 66px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 66px);
    border-top: 1px solid var(--devider);
    background: var(--bg);
}

#fullscreenWindows .message .close {
    position: absolute;
    top: 12px;
    left: 20px;
    color: var(--default-text);
    cursor: pointer;
    transition: color 0.2s;
}

#fullscreenWindows .message .close:hover {
    color: var(--accent-blue);
}

#fullscreenWindows .message .close:before {
    content: '';
    border: solid var(--default-text);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg) translateY(3px);
}

#fullscreenWindows .message .close:hover:before,
#fullscreenWindows .message .close:focus:before {
    border-color: var(--accent-blue);
}

#fullscreenWindows .message h1 {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: normal;
    color: var(--default-text);
}

#fullscreenWindows .message .view {
    height: 50vh;
    width: 90vw;
    margin: 0 auto;
}

#fullscreenWindows .message .buttons {
    width: fit-content;
    margin: 32px auto;
}

#fullscreenWindows .message .view.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#send {
}