@font-face {
    font-family: Mulish;
    src: url("../fonts/Mulish-VariableFont_wght.ttf");
}

:root {
    /*Backgrounds*/
    --bg: #15191d;
    --fg: #1f2328;
    --fg2: #262c31;

    /*Text*/
    --default-text: #ccc;
    --dark-text: #777;
    --very-dark-text: #505050;
    --highlighted-text: #fff;

    /*Buttons*/
    --inactive-button: #444;
    --button-color: #fff;
    --button-highlight: #fff;

    /*Accent Colors*/
    --accent-blue: #4682b4;
    --accent-green: #267214;
    --accent-red: #7a1512;
    --bg-accent-blue: #284156;
    --bg-accent-green: #1c4115;
    --bg-accent-red: #4a1514;

    /*Tooltips*/
    --tooltip-background: #0005;
    --tooltip-color: #aaa;

    /*Other content*/
    --devider: #444;

    --drop-shadow-small: 1px 2px 4px 1px #0004;
    --drop-shadow-large: 1px 2px 12px 2px #0007;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}