/*region setup*/

@font-face {
    font-family: Mulish;
    src: url("../fonts/Mulish-VariableFont_wght.ttf");
}

:root {
    /*Backgrounds*/
    --bg: #15191d;
    --fg: #1f2328;
    --fg2: #262c31;
    --fg-highlight: #2c3036;

    /*Text*/
    --default-text: #ccc;
    --dark-text: #777;
    --very-dark-text: #505050;
    --highlighted-text: #fff;

    /*Buttons*/
    --inactive-button: #444;
    --button-color: #fff;
    --button-highlight: #fff;

    /*Accent Colors*/
    --accent-blue: #4682b4;
    --accent-green: #267214;
    --accent-red: #7a1512;
    --bg-accent-blue: #284156;
    --bg-accent-green: #1c4115;
    --bg-accent-red: #4a1514;

    /*Tooltips*/
    --tooltip-background: #0005;
    --tooltip-color: #aaa;

    /*Other content*/
    --devider: #444;

    --drop-shadow-small: 1px 2px 4px 1px #0004;
    --drop-shadow-large: 1px 2px 12px 2px #0007;
}

/*endregion*/
/*region reuseable*/

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.devider {
    display: block;
    margin: 20px auto;
    width: 40%;
    height: 1px;
    background: var(--devider);
}

/*region fullscreen*/

.fullscreen {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 81px);
    border-top: 1px solid var(--devider);
    background: var(--bg);
    transition: opacity 0.3s, top 0.3s;
}

.fullscreen.hidden {
    top: 50vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
}

/*endregion*/
/*region buttons*/

.button {
    display: block;
    width: 50%;
    line-height: 36px;
    text-align: center;
    background: var(--fg);
    color: var(--button-color);
    border: 1px solid var(--devider);
    border-radius: 50px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.button:hover,
.button:active {
    background-color: var(--bg-accent-blue);
    border-color: var(--accent-blue);
    color: var(--button-highlight);
}

.button.green:hover,
.button.green:active {
    background-color: var(--bg-accent-green);
    border-color: var(--accent-green);
    color: var(--button-highlight);
}

.button.red:hover,
.button.red:active {
    background-color: var(--bg-accent-red);
    border-color: var(--accent-red);
    color: var(--button-highlight);
}

.button.disabled {
    pointer-events: none;
    cursor: default;
    color: var(--inactive-button);
    border-color: var(--inactive-button);
}

/*endregion*/
/*endregion*/
/*region general*/

html {
    background: var(--bg);
}

body {
    margin: 0;
    overflow: hidden;
}

* {
    font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
th {
    color: var(--highlighted-text);
}

p,
ul,
ol,
label,
span,
a,
td {
    color: var(--default-text);
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
}

/*endregion*/
/*region header*/

.header {
    width: 100vw;
    background: var(--fg);
}

.header h1 {
    font-size: 36px;
    font-weight: normal;
    color: #FFF;
    padding-left: 46px;
    margin: 20px auto 12px auto;
    width: fit-content;
    display: block;
    background-image: url('../../../logo/white.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 36px;
}

/*region tabs*/

.tabs {
    display: flex;
    justify-content: center;
    background: var(--fg);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--devider);
}

.tabs span {
    display: block;
    padding: 0 16px;
    position: relative;
    cursor: pointer;
}

.tabs span:after {
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--accent-blue);
    opacity: 0;
    transition: opacity 0.2s;
}

.tabs span.active:after {
    opacity: 1;
}

.content {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#contentMover {
    display: flex;
    width: 300vw;
    height: 100%;
    transition: margin-left 0.2s;
}

.contentPage {
    height: 100%;
    width: 100vw;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.contentPage::-webkit-scrollbar {
    display: none;
}

/*endregion*/
/*endregion*/
/*region connections*/
/*region user*/

#connections #connectionList:empty:before {
    content: 'No Devices Found';
    display: block;
    color: var(--dark-text);
    font-size: 12px;
    width: fit-content;
    margin: 0 auto;
    padding: 16px;
}

#connections #connectionList .user {
    margin: 20px 16px 0 16px;
    padding: 5px;
    background: var(--fg);
    border: 1px solid var(--devider);
    border-radius: 8px;
}

#connections #connectionList .userinfo {
    display: flow-root;
    padding: 0 4px;
}

#connections #connectionList .userinfo .username {
    display: inline-block;
    max-width: 100%;
}

#connections #connectionList .userinfo .email {
    float: right;
    display: block;
    color: var(--dark-text);
    max-width: 60%;
}

/*endregion*/
/*region connection*/

#connections #connectionList .connection {
    display: grid;
    height: 40px;
    grid-template-areas:
        "icon title"
        "icon host";
    grid-template-rows: auto auto;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 6px;
    margin: 6px 2px 2px 2px;
    padding: 4px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#connections #connectionList .connection:hover {
    background-color: var(--fg-highlight);
}

#connections #connectionList .connection * {
    cursor: pointer;
}

#connections #connectionList .connection .icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
}

#connections #connectionList .connection .icon svg {
    stroke: var(--default-text);
    align-self: center;
}

#connections #connectionList .connection .name {
    grid-area: title;
}

#connections #connectionList .connection .name label {
    color: var(--default-text);
}

#connections #connectionList .connection .host {
    grid-area: host;
}

#connections #connectionList .connection .host label {
    color: var(--dark-text);
    font-size: 12px;
}

#connections #connectionList .connection .info {
    grid-area: info;
}

#connections #connectionList .connection .info label {
    color: var(--accent-blue);
    font-size: 12px;
}

/*endregion*/
/*region sendDialog*/

#sendDialog {
    position: absolute;
}

#sendDialog > label {
    display: block;
    text-align: center;
    margin: 24px 0 4px 0;
    color: var(--dark-text);
}

#sendDialog > h1 {
    display: block;
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

#sendDialog .dropzone {
    display: block;
    width: 260px;
    height: 160px;
    margin: 32px auto 48px auto;
    cursor: pointer;
    transition: background-color 0.2s;
}

#sendDialog .dropzone:hover,
#sendDialog .dropzone.drag {
    background: var(--fg);
}

#sendDialog .dropzone div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /*corners*/
    background:
            linear-gradient(to right, var(--devider) 4px, transparent 4px) 0 0,
            linear-gradient(to right, var(--devider) 4px, transparent 4px) 0 100%,
            linear-gradient(to left, var(--devider) 4px, transparent 4px) 100% 0,
            linear-gradient(to left, var(--devider) 4px, transparent 4px) 100% 100%,
            linear-gradient(to bottom, var(--devider) 4px, transparent 4px) 0 0,
            linear-gradient(to bottom, var(--devider) 4px, transparent 4px) 100% 0,
            linear-gradient(to top, var(--devider) 4px, transparent 4px) 0 100%,
            linear-gradient(to top, var(--devider) 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    pointer-events: none;
    transition: background-size 0.2s;
}

#sendDialog .dropzone:hover,
#sendDialog .dropzone.drag div {
    background-size: 30px 30px;
}

#sendDialog .dropzone div p {
    display: block;
    margin: 8px;
}

/*endregion*/
/*endregion*/
