<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Orange Share</title>

    <link rel=stylesheet type=text/css href="/static/css/main.css">
    <link rel=stylesheet type=text/css href="/static/css/shortcuts.css">
</head>
<body class="contentpage">
    <div class="topbar">
        <a class="home" href="/">
            <h1><span class="logo"></span><label>Orange Share</label></h1>
        </a>
    </div>

    <div class="content">
        <h1>Shortcuts</h1>
        <h2 id="ConnectionManager" class="section">Connection Manager</h2>
        <a href="https://www.icloud.com/shortcuts/1b8e0f8143cb4126b1df385038a3effc">Download</a>
        <h2 id="Open" class="section">Open</h2>
        <a href="https://www.icloud.com/shortcuts/278d32893069451e987abc965f1d3780">Download</a>
        <h2 id="Save" class="section">Save</h2>
        <a href="https://www.icloud.com/shortcuts/55e67abbe30c47d6a14fa50435281be7">Download</a>
        <h2 id="Clipboard" class="section">Clipboard</h2>
        <a href="https://www.icloud.com/shortcuts/1f427c8806304758b3732bacaa4b76c7">Download</a>
    </div>
</body>
</html>