<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Orange Share</title>

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/update.js"></script>

    <link rel=stylesheet type=text/css href="/static/css/main.css">
    <link rel=stylesheet type=text/css href="/static/css/update.css">
</head>
<body class="contentpage">
<div class="topbar">
    <a class="home" href="/">
        <h1><span class="logo"></span><label>Orange Share</label></h1>
    </a>
</div>

<div class="content">
    <a class="back" href="/">back</a>
    <h1 class="section">A new version is available</h1>
    <a href="https://github.com/Yannis4444/Orange-Share/releases/latest">Read the release notes</a>
</div>
</body>
</html>