<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Orange Share</title>

    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        let newer_version = "{{ newer_version }}";
        let newer_version_available = {% if newer_version_available %} true {% else %} false {% endif %};
    </script>
    <script type="text/javascript" src="/static/js/update.js"></script>

    <link rel=stylesheet type=text/css href="/static/css/main.css">
    <link rel=stylesheet type=text/css href="/static/css/update.css">
</head>
<body class="contentpage">
<div class="topbar">
    <a class="home" href="/">
        <h1><span class="logo"></span><label>Orange Share</label></h1>
    </a>
</div>

{% if newer_version_available %}

    <div class="content">
        <a class="back" href="/">back</a>
        <h1 class="section">Version {{ newer_version }} is Available</h1>
        <a class="release" href="https://github.com/Yannis4444/Orange-Share/releases/latest">Read the release notes</a>

        {% if windows_installation %}

            <p>
                An Orange Share instance that was installed using the windows installer can be updated right from this page.
                It is also possible to download the installer from the release and manually run it on your machine instead.
            </p>
            <label class="update" onclick="windowsUpdate()" id="windows_update">
                <span class="text">Update</span>
                <svg class="spinner" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg>
                <span class="checkmark"></span>
            </label>

        {% elif gnome_extension %}

            <p>
                The Gnome Extension version of Orange Share can be updated right from this page.
            </p>
            <p>
                Hosting the python part of the application on the Gnome Extension page was not allowed which is why pip is used for installation and updating.
                Starting the update will run <span class="code">{{ python_executable }} -m pip install --update orangeshare</span>.
            </p>
            <label class="update" onclick="pipUpdate()" id="pip_update">
                <span class="text">Update</span>
                <svg class="spinner" viewBox="0 0 50 50">
                    <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
                </svg>
                <span class="checkmark"></span>
            </label>
            <h2>
                After updating restart Orange Share by clicking the icon in the system tray twice.
            </h2>

        {% else %}

            <p>
                If you installed Orange Share using pip, you can run <span class="code">pip install --update orangeshare</span> to update.
            </p>

        {% endif %}

    </div>

{% else %}

    <div class="content">
        <a class="back" href="/">back</a>
        <h1 class="section">You are using the newest version of Orange Share</h1>
    </div>

{% endif %}

<div class="content">
    <h1 class="section">What's new</h1>

    <h2 class="version">1.7.0<span class="date">Nov 25, 2021</span></h2>
    <a class="newshortcuts" href="/shortcuts">New Shortcuts are needed for this version!</a>
    <h3 class="new">New</h3>
    <ul class="news">
        <li>
            Windows installer for easy installation and autostart
        </li>
        <li>
            Orange Share will now inform you about updates and is able to perform them for Windows and the Gnome Extension
        </li>
        <li>
            Version Info in the UI
        </li>
        <li>
            You will be informed about outdated shortcuts right in the shortcut
        </li>
        <li>
            Right click menu in Gnome Extension
        </li>
        <li>
            Connection Manager will test a new connection
        </li>
    </ul>
    <h3 class="improved">Improved</h3>
    <ul class="news">
        <li>
            Updates for the Gnome Extension moved to the main script
        </li>
    </ul>
    <h3 class="fixed">Fixed</h3>
    <ul class="news">
        <li>Fixed Get Data Shortcut on Windows</li>
    </ul>

    <h2 class="version">1.6.0<span class="date">Oct 19, 2021</span></h2>
    <a class="newshortcuts" href="/shortcuts">New Shortcuts are needed for this version!</a>
    <h3 class="new">New</h3>
    <ul class="news">
        <li>
            The IP for a device can now be set for each network.
            That means that you do not need to change the connection each time you are on a different network.
            Important: You might need to delete the current connection settings ("Forget all connections" in the Connection Manager) as the format had to be changed for this
        </li>
        <li>
            Reverse functionality allows getting data from the computer using a new shortcut
        </li>
        <li>
            You can now share Folders
        </li>
        <li>
            Shortcuts will now send the clipboard content when run from anywhere other than the share sheet
        </li>
    </ul>
    <h3 class="fixed">Fixed</h3>
    <ul class="news">
        <li>Some fixes for iOS 15</li>
    </ul>

    <h2 class="version">1.4.1<span class="date">Sep 14, 2021</span></h2>
    <h3 class="fixed">Fixed</h3>
    <ul class="news">
        <li>
            Removed Import Questions from Shortcuts
        </li>
    </ul>

    <h2 class="version">1.4.0<span class="date">Sep 12, 2021</span></h2>
    <h3 class="improved">Improved</h3>
    <ul class="news">
        <li>
            User interface improvements
        </li>
    </ul>

    <h2 class="version">1.3.2<span class="date">Sep 12, 2021</span></h2>
    <h3 class="new">New</h3>
    <ul class="news">
        <li>
            Tray Icon for Windows
        </li>
    </ul>

    <h2 class="version">1.2.4<span class="date">Sep 03, 2021</span></h2>
    <h3 class="new">New</h3>
    <ul class="news">
        <li>
            Basic functionality
        </li>
    </ul>
</div>

</body>
</html>