:root {
    --bg: #14161b;
    --fg: #1b1d24;
    --inputbg: #22252c;
    --header: #fff;
    --text: #ccc;
}


html {
    background: var(--bg);
}

body {
    padding: 20px;
}

h1,
h2,
h3 {
    color: var(--header);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

p,
ul,
ol,
label,
a {
    color: var(--text);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

body > div {
    background: var(--fg);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
}

a.download.shortcut {
    background: #004ea3;
    padding: 8px 12px;
    margin: 0 auto 24px auto;
    display: block;
    width: max-content;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}