a.release,
label.update {
    display: block;
    background: var(--accent-blue);
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(.4, 2, .17, 1);
    font-size: 20px;
    line-height: 40px;
    font-weight: bold;
    outline: none;
    text-align: center;
    width: 300px;
    margin: 30px auto 0 auto;
    position: relative;
}

a.release:hover,
label.update:hover,
a.release:focus,
label.update:focus {
    transform: scale(1.1);
    transition: transform 0.5s cubic-bezier(.4, 2.5, .17, 1.5);
}

label.update.loading {
    pointer-events: none;
}

label.update.loading .text,
label.update.done .text {
    display: none;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    display: none;
}

label.update.loading .spinner {
    display: block;
}

.spinner .path {
    stroke: var(--text);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.checkmark {
    display: none;
    width: 22px;
    height: 22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.done .checkmark {
    display: inline-block;
}

.checkmark:before,
.checkmark:after {
    content: "";
    position: absolute;
    background: var(--text);
}

.done .checkmark:before {
    animation: checkmark_before 0.35s 0.2s linear forwards;
}

@keyframes checkmark_before {
    0% {
        width: 3px;
        height: 0;
        left: 12px;
        top: 21px;
    }
    100% {
        width: 3px;
        height: 14px;
        left: 12px;
        top: 7px;
    }
}

.done .checkmark:after {
    animation: checkmark_after 0.2s linear forwards;
}

@keyframes checkmark_after {
    0% {
        width: 0;
        height: 3px;
        left: 7px;
        top: 18px;
    }
    100% {
        width: 8px;
        height: 3px;
        left: 7px;
        top: 18px;
    }
}

.code {
    font-family: Monospaced, monospace;
    color: #fff;
    background: var(--fg-darkened);
    padding: 5px 8px;
}

h2.version {
    text-align: left;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid var(--border);
    padding: 0 5px;
    margin-top: 50px;
}

h2.version .date {
    position: absolute;
    right: 5px;
    color: var(--text-gray);
    font-size: 16px;
    bottom: 2px;
}

.newshortcuts {
    display: block;
    margin-top: -16px;
    color: var(--text-gray);
    padding-left: 40px;
    text-decoration: none;
}

h3.new,
h3.improved,
h3.fixed {
    margin: 10px 0 0 40px;
    font-size: 20px;
}

h3.new {
    color: var(--accent-green-text);
}

h3.improved {
    color: var(--accent-blue-text);
}

h3.fixed {
    color: var(--accent-orange-text);
}

ul.news {
    margin: 5px 40px;
}

ul.news li {
    line-height: 24px;
}